*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(fondo.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
}

.contenedor{
    position: relative;
    width: 400px;
    background-color: red;
    
}