* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navigator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fe862a;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.navigator ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.navigator ul li {
    margin-right: 20px;
    font-size: 1.3rem;
}

.link01 {
    text-decoration: none;
    color: #ebeaea;
}

.link01:hover {
    color: #f54a1f;

}


.storm-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0d0d0d;
}

.lightning {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    /*animation: flash 0.2s ease-out infinite;*/
}

.div01{
    color: #ffffff;
}

@keyframes flash {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}