* {
    /*border: 1px solid green;*/
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;

    /*edcbb7*/
}

.navigator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f6eddf;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.navigator ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.navigator ul li {
    margin-right: 20px;
    font-size: 1.3rem;
}

.input01 {
    height: 30px;
}

.search {
    background-image: linear-gradient(-180deg, #9d4c04 0%, #f1bc7f 100%);
    width: 10%;
    height: 30px;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #f4e6df;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.search:hover {
    background-image: linear-gradient(-180deg, #f4cfa1 0%, #fab368 100%);
}


/*<!-- HTML !-->
<button class="button-43" role="button">Button 43</button>*/



.section01 {
    background-color: #edcbb7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 35px;

}

h1 {
    padding: 25px;
    font-size: 1.6rem;
}

.img01 {
    width: 20%;
    height: 55%;
}

.barra {
    display: flex;
    background-color: #793200;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 5vh;
}

.section02 {
    background-color: #f6eddf;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tarjeta01 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    display: grid;
    justify-items: center;
    margin-top: 50px;
    width: 350px;
    height: 400px;
    background-color: #f6eddf;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 25px #ffbd83;
}

.card img {
    margin-top: 40px;
    box-shadow: 0px 0px 10px goldenrod;
    width: 60%;
    border-radius: 50px;
    object-fit: scale-down;
}

.card p {
    text-align: center;
}

.card p:nth-child(3) {
    color: #808080;
    margin-top: -60px;
    font-size: 20px;
}

.card p:nth-child(2) {
    margin-top: 20px;
    font-weight: 600;
    font-size: 30px;
    color: #723b00;
}

.card #boton {
    color: #fff;
    font-size: 30px;
    width: 100%;
    background-color: #de8b43;
    text-align: center;
    padding-top: 40px;
}


footer {
    background-color: #7d4501;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.fa-youtube-play{
    font-size: 3rem;
    color: #ff0000;
    background-color: #fff;
    
    
}
.fa-facebook-official{
    font-size: 2.4rem;
    color: #0000ff;
    background: #fff;
    
    
}
.fa-instagram{
    font-size: 3rem;
    
    padding: 5px;
    border-radius: 15px;
}

@supports (
  (-webkit-background-clip: text) or (-webkit-text-fill-color: transparent)
) {
  .fa-instagram {
    background: linear-gradient(to left, #fa4261, #f39762, #d5aa10);
    background-size: cover;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
  }
}


@media (width <= 768px) {
    .search {
        padding: 1rem 2rem;
    }
    .section02{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 160vh;
           
    }
}

